.navigation {
    display: flex;
    justify-content: space-between;
}

.navigation>nav>a>button {
    border-color: transparent;
    background-color: transparent;
    margin-top: 3px;
    color:rgb(132, 89, 143)
}

#ourpackagebutton {
    border-left-color: rgb(217, 180, 226);
    border-right-color: rgb(217, 180, 226);
    padding-left: 7px;
    padding-right: 7px;
}

a:link {
    text-decoration: none;
    color: rgb(132, 89, 143);
}

a:hover {
    background-color: rgb(132, 89, 143);
    color:white;
}

#title {
    margin-top: 60px;
    font-size: 60px;
    margin-bottom: 0px;
}

#slogan {
    margin-bottom: 60px;
}

.img-slideshow {
    width : 600px;
}

.img-button {
    background-color: rgb(172, 123, 184);
    border: 0px;
    border-radius: 50px;
    color: rgb(247, 240, 249);
    width: 49%;
    height: 25px;
    font-size: 20px;
    margin-top: 10px;
}

h1 {
    text-align: center;
    font-family: sans-serif;
    font-size: 40px;
    color:rgb(132, 89, 143); 
}


h3 {
    text-align: center;
    font-family: sans-serif;
    color: rgb(217, 180, 226)
}

hr {
    border-color: rgb(172, 123, 184);
}

#customerpict {
    border: 0px solid black;
    border-radius: 50px;
    background-color: rgb(217, 180, 226);
}

.customer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left:auto;
    margin-right: auto;
}

.customername {
    font-family: sans-serif;
    margin-left: 20px;
    margin-right: auto;
    color:rgb(172, 123, 184);
    text-align: left;
}

#customerpict {
 margin-left: auto;;
}

#testimony {
    text-align: center;
    color: rgb(172, 123, 184);
    margin: 70px auto 30px auto;
}

#testimony-line {
    width: 150px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
    border-width: 0px;
    background-color: rgb(208, 173, 217);
    height: 3px;
    border-radius: 50px;
}

h4 {
    font-size: 20px;
    font-family: sans-serif;
    color:rgb(132, 89, 143);
}

.list {
    font-family: sans-serif;
    font-size: 20px;
    color:rgb(132, 89, 143);
    border-radius: 50px;
    background-color: rgb(217, 180, 226);
    text-align:center;
    padding: 10px 15px 10px 15px;
    margin-left: 20px;
    margin-top: 20px;
}

.information {
    display: flex;
    flex-direction: row;
}

.right-section {
    background-color: rgb(227, 206, 232);
    border: 0px;
    margin: 20px 50px 20px 20px;
    padding: 25px;
    font-family: sans-serif;
    border-radius: 10px;
    width: 350px;
    height: 410px;
}

.main-content {
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
}

#moreinfo {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 30px;
}

.info {
    margin: 30px 0px 0px 20px;
    font-family: sans-serif;
    font-size: 15px;
    color: rgb(172, 123, 184);
}

.left-section {
    margin: 20px 20px 20px 50px;
}

.right-section>h2, p {
    text-align: center;
    color: rgb(132, 89, 143);
    margin: 0px 0px 5px 0px;
}

.form-label {
    margin: 0px 0px 0px 10px;
    color: white;
}

.right-section>p {
    margin-bottom: 30px;
}

form>div>input {
    border: 2px solid rgb(132, 89, 143);
    border-radius: 50px;
    width: 300px;
    margin: 5px auto 20px 10px;
    height: 30px;
    padding-left: 15px;
    padding-right: 15px;
    color: rgb(132, 89, 143);
}

form>div>select {
    border: 2px solid rgb(132, 89, 143);
    border-radius: 50px;
    width: 330px;
    margin: 5px auto 20px 10px;
    height: 35px;
    padding-left: 15px;
    padding-right: 15px;
    color: rgb(132, 89, 143);
}

optgroup {
    color: rgb(132, 89, 143);
    background-color: rgb(237, 216, 242);
}

option {
    color: rgb(172, 123, 184);
    background-color: white;
}

#submit-btn {
    margin: 30px auto 20px 10px;
    width: 330px;
    background-color: rgb(132, 89, 143);
    border: 0px;
    color: white;
    height: 35px;
    border-radius: 50px;
    font-size: 15px;
} 

select {
    width: 150px;
    height: 25px
}

#ourPackage {
    background-color: rgb(132, 89, 143);
    color:white;
    height: 100px;
    width: 100%;
    padding: 50px 0px 0px 0px;
    margin: 100px 0px 100px 0px;
}

.package-list {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.ourpackage-content {
    display: flex;
    justify-content: center;
    margin: 0px auto 100px auto;
}

#ourpackage-line {
    margin: 100px auto 100px auto;
    width: 400px;
    align-content: center;
    height: 3px;
    border: 0px;
    background-color: rgb(205, 173, 214);
    border-radius: 50px;
}

.package-list>article>h2 {
    font-family: sans-serif;
    font-size: 30px;
    color: rgb(132, 89, 143);
    text-align: left;
}

.package-list>article>p {
    font-family: sans-serif;
    font-size: 15px;
    color: rgb(132, 89, 143);
    text-align: justify;
    width: 80%;
}

.package-list>article {
    margin: 0px 50px 0px 20px;
}

.package-img {
    color:rgb(132, 89, 143);
    border-radius: 50px;
    background-color: rgb(217, 180, 226);
    text-align:center;
    padding: 10px 30px 10px 30px;
    margin-top: 20px;
    margin-left: 10%;
}

.closing>h1 {
    margin-top: 90px;
}

.closing>p {
    font-family: sans-serif;
    margin-top: 5px;
}

.closing>a>button {
    background-color: rgb(132, 89, 143);
    width: 200px;
    height: 50px;
    border: 0px;
    border-radius: 50px;
    display: block;
    margin: 70px auto 90px auto;
    font-size: 20px;
    color: white;
}

.footer-line {
    margin-bottom: 50px;
}

footer>p {
    font-family: sans-serif;
}

#end {
    margin-bottom: 50px;
}


@media only screen and (max-width: 1060px) {
    .navigation {
        flex-direction: column;
    }
    nav>a>button {
        width: 100%;
        text-align: left;
        margin: 20px 10px 20px 10px;
        height: 30px;
        font-size: 25px;
        border: 0px;
        padding: 5px 10px 5px 10px;
        height: 30px;
        font-size: 15px;
        margin-left: 10px;

    }



    #ourpackagebutton {
        border: 0px;
        padding: 5px 10px 5px 10px;
    }
    .navigation>div {
        margin: 10px 10px 20px 10px;
    }
    .main-content {
        flex-direction: column;
    }

    #title {
        font-size: 50px;
    }

    select {
        width: 270px;
    }

    #submit-btn {
        width: 90%;
    }

    .img-slideshow {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    hr {
        width: 100%;
    }

    .main-content {
        margin-left: auto;
        margin-right: auto;
    }

    .right-section {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;
        margin-top: 80px;
        width: 80%;
    }

    .form-input>input {
        width: 85%;
    }

    #submit-btn {
        width: 85%;
    }

    #ourPackage {
        margin: 170px 0px 50px 0px;
        width: 100%;
    }

    .ourpackage-content {
        flex-direction: column;
        margin: 20px auto 0px auto;
        justify-content: center;
    }

    #ourpackage-line {
        display: none;
        margin: 0px;
    }

    .package-list {
        margin: 50px auto 20px auto;
        justify-content: center;
    }

    .package-list>article {
        width: 70%;
        margin-left: 30px;
    }

    .package-img {
        padding: 10px 15px 10px 15px
    }

    #closing-line {
        margin-top: 50px;
    }

    .ourpackage-content {
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }
}